/* CSS */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

.board {
    width: 24em;
    height: 24em;
    background-color: white;
}
.option {
    height: 9em;
    width: 9em;
    border: 0.3em solid white;
    border-radius: 22px;
    color: white;
    transition: 0.3s ease-in;
    cursor: pointer;
    outline: none;
}

.option:hover{
    height: 10em;
    width: 10em;
    transition: 0.3s ease-in;
}

#pickX{
    background-color: #FFA145;

}

#pickO{
    background-color: #A8D37C;
}

.row {
    display: flex;
    flex-flow: row;
}

.space {
    background-color: black;
    flex: 1 1 auto;
    height: 9em;
    width: 9em;
    border: 0.3em solid white;
    border-radius: 22px;
    color: white;
    cursor: pointer;
    outline: none;
}

/* KEEP THESE LAST */
.center {
    display: flex;
    justify-content: center; /* center items horizontally, in this case */
    align-items: center;
}




